<h1>Listing restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.url %></td>
        <td><%= restaurant.score %></td>
        <td><%= link_to 'Show', restaurant, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a lunch spot', new_restaurant_path, class: 'btn btn-primary' %>
