<div class="col-md-8">
  <% @restaurants.each do |restaurant| %>
    <dl>
      <dt>
        <%= link_to '▲', upvote_restaurant_path(restaurant), method: :post, id: 'vote-arrow-up' %> 
        <%= link_to restaurant.name, restaurant.url %>
        <span class="badge">
          <%= restaurant.score %>
        </span>
        <% gmaps_location = 'http://maps.google.com/?q=' + restaurant.name + ', East London' %>
        <%= link_to '➹', gmaps_location %>
      </dt>
      <dd>
        <%= link_to '▼', downvote_restaurant_path(restaurant), method: :post, id: 'vote-arrow-down' %> 
        <%= restaurant.description %>
      </dd>
    </dl>
  <% end %>
</div>