<!DOCTYPE html>
<html>
<head>
  <title>Lunch Hunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Lunch Hunt', :root, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse">
      	<p class="navbar-text">what's cooking?</p>
        <ul class="nav navbar-nav navbar-right">
          <li><div><%= link_to 'Suggest a new place', new_restaurant_path, class: 'btn btn-default navbar-btn' %></div></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
  	<% if notice %>
			<div class="alert alert-success"><%= notice %></div>
		<% end %>
		<% if alert %>
		  <div class="alert alert-warning"><%= alert %></div>
		<% end %>
    <%= yield %>
  </div> 
  <!-- /container -->
</body>
</html>
